/*font-family: 'Signika', sans-serif;*/

html,
body {
    margin: 0;
    padding: 0;
}

body {

}

ul {
    padding: 0;
}

h1,
h2,
h3,
h5,
p {
    margin:  0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear:both;
}

.container {
    width: 1401px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.wrapper {background: #ecfffc;}

.header {
    background: #838479 url("../img/header-bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.title-text {
    text-align: center;
    margin-top: 390px;
}

.title-text h1.title {
    font: 400 108px/108px Signika, sans-serif;
    color: #f1f2f1;
    margin-bottom: 66px;
}

.title-text p {
    font: 700 48px/48px Signika, sans-serif;
    color: #f1f2f1;
}

.title-text li {
    display: inline-block;
}

.title-text li a {
    font: 700 18px/18px Signika, sans-serif;
    color: #f1f2f1;
    text-transform: uppercase;
    text-decoration: none;
}

.header-bottom {
    background: #00a388;
}

.menu {
    text-align: center;
    border-top: 1px solid #0ea88f;
    border-bottom: 1px solid #0ea88f;
}

.menu li {
    list-style: none;
    display: inline-block;
    padding-right: 30px;
}

.menu li a {
    font: 400 18px/18px Signika, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f2f1;
}

.about {

}

.about-title {
    margin-top: 105px;
}

h2.title {
    text-align: center;
    font: 600 48px/48px Signika, sans-serif;
    color: #140e1d;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.about-title p {
    text-transform: uppercase;
    text-align: center;
    font: 400 16px/16px Signika, sans-serif;
    color: #140e1d;
    margin-bottom: 53px;
}

.about-column {
    width: 646px;
    margin-bottom: 110px;
}

.about-column p {
    font: 14px/28px OpenSans, sans-serif;
}

.about-people {
    width: 270px;
    height: 536px;
    margin-right: 103px;
    margin-bottom: 197px;
    text-align: center;
}

.about-people:last-child {
    margin-right: 0;
}

.about-people h5.title {
    font: 400 18px/18px Signika, sans-serif;
    margin-bottom: 25px;
    margin-top: 30px;
}

.about-people-1 h5.title {
    font: 400 18px/18px Signika, sans-serif;
    color: #f1f2f1;
}

.about-people span {
    font: 400 16px/16px Signika, sans-serif;
}

.about-people-1 span {
    font: 400 16px/16px Signika, sans-serif;
    color: #f1f2f1;
}

.about-people p {
    font: 14px/28px OpenSans, sans-serif;
    color: #f1f2f1;
    margin-bottom: 20px;
}

.about-people-1 {
    background: #00a388;
}

.s-net a .s-net-s  {
    margin-left: 12px;
    width: 21px;
    height: 21px;
    display: inline-block;
}

.s-net a {
    text-decoration: none;
    margin-right: 11px;
}

.s-net a:last-child {margin-right: 0;}


.s-net .s-net-s:first-child {
    margin-left: 0;
}

.s-fb {
    background: url("../img/s-sprite.png") no-repeat;
    background-position: 0 -3px;
}

.s-tw {
    background: url("../img/s-sprite.png") no-repeat;
    background-position: -21px -3px;
}

.s-li {
    background: url("../img/s-sprite.png") no-repeat;
    background-position: -42px -3px;
}

.s-v {
    background: url("../img/s-sprite.png") no-repeat;
    background-position: -63px -3px;
}

.portfolio-title {
    margin-bottom: 36px;
}

.portfolio-links {
    text-align: center;
    margin-bottom: 59px;
}

.portfolio-links li {
    display: inline-block;
    margin-right: 39px;
}

.portfolio-links li:last-child {
    margin-right: 0;
}

.portfolio-links li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font: 600 18px/18px Signika, sans-serif;
}

.portfolio-elements {
    margin: 0;
}

.portfolio-element {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    background-size: cover;
    height: 318px;
}

.portfolio-element-1 {
    background: url("../img/portfolio-element-1.png") center no-repeat;
}

.portfolio-element-2 {
    background: url("../img/portfolio-element-2.png") center no-repeat;
}

.portfolio-element-3 {
    background: url("../img/portfolio-element-3.png") center no-repeat;
}

.portfolio-element-4 {
    background: url("../img/portfolio-element-4.png") center no-repeat;
}

.portfolio-element-5 {
    background: url("../img/portfolio-element-5.png") center no-repeat;
}

.portfolio-element-6 {
    background: url("../img/portfolio-element-6.png") center no-repeat;
}

.portfolio-element-7 {
    background: url("../img/portfolio-element-7.png") center no-repeat;
}

.portfolio-element-8 {
    background: url("../img/portfolio-element-8.png") center no-repeat;
}

.services {
    background: #ffffff;
}

.services-title{
    margin-top: 125px;
}

.services-title p {
    text-transform: uppercase;
    text-align: center;
    font: 14px/28px OpenSans, sans-serif;
    color: #000;
    margin-bottom: 77px;
}

.service {
    width: 646px;
    height: 335px;
    margin-bottom: 65px;
}

.service-float-1 {
    margin-right: 109px;
    background: #f5fffd;
}

.service-float-3 {
    margin-left: 109px;
}

.service-photo {
    width: 115px;
    height: 115px;
    margin-bottom: 25px;
}

.service-text h5.title {
    font: 400 36px/36px Signika, sans-serif;
    margin-bottom: 25px;
}

.service-text p {
    font: 14px/25px OpenSans, sans-serif;
}

.link-right {
    text-decoration: none;
    color: #000;
    font: 400 18px/18px Signika, sans-serif;
}

.blog-title {
    margin-top: 113px;
}

.blog-title p {
    text-transform: uppercase;
    text-align: center;
    font: 14px/28px OpenSans, sans-serif;
    color: #000;
    margin-bottom: 68px;
}

.blog-position {
    width: 323px;
    height: 680px;
}

.blog-pos-1,
.blog-pos-2,
.blog-pos-3 {
    margin-right: 35px;
    margin-bottom: 35px;
}

.blog-pos-5 {
    margin-right: 4px;
}

.blog-pos-5,
.blog-pos-6,
.blog-pos-7 {
    margin-left: 35px;
    margin-bottom: 223px;
}

.description {
    font: 16px/16px OpenSans, sans-serif;
    color: #00a388;
}

.blog-img {
    width: 323px;
    height: 325px;
    overflow: hidden;
}

.blog-pos-text {
    background: #ffffff;
    height: 324px;
    width: 100%;
    padding-top: 31px;
}

.blog-container {
    width: 269px;
    margin: 0 auto;
}

h5.title {
    font: 400 28px/28px Signika, sans-serif;
    margin-top: 31px;
}

.blog-container p {
    margin-top: 45px;
    font: 16px/30px OpenSans, sans-serif;
}

.map {
    width: 100%;
    height: 612px;
}

.contact-us {
    background: #ffffff;
}

.contact-title {
    margin: 156px 0 50px 0;
}

#message {
    resize: none;
}

.form-container {
    width: 1174px;
    margin: 0 auto;
}

form {
    text-align: center;
}

.text {
    background: #140e1d;
    outline: none;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 536px;
    height: 74px;
    padding-left: 25px;
    color: #fff;
    font: 300 18px/18px OpenSans, sans-serif;
}

.text-1 {
    margin-bottom: 30px;
}

.text-2 {
    display: block;
}

.message {
    background: #140e1d;
    outline: none;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 550px;
    height: 157px;
    padding: 25px 0 0 25px;
    color: #fff;
    font: 300 18px/18px OpenSans, sans-serif;
}

.submit {
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 151px;
    outline: none;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #140e1d;
    color: #fff;
    font: 300 18px/18px OpenSans, sans-serif;
    width: 144px;
    height: 47px;
}

.footer-menu {
    background: #02c5a5;
}

.footer-menu ul {
    margin: 0;
    text-align: center;
}

.footer-menu li {
    display: inline-block;
    padding: 46px 30px 31px 0;
}

.footer-menu li a {
    font: 400 18px/18px Signika, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f2f1;
}

.footer-adresses {
    background: #00a388;
}

.footer-text li {
    display: inline-block;
    font: 18px/18px OpenSans, sans-serif;
    color: #f1f2f1;
    margin: 118px 72px 118px 0;
}

.footer-text li:last-child {
    margin-right: 0;
}

.social-net-footer {
    margin: 143px 0 142px 405px;
    width: 242px;
    height: 51px;
}

.s-s-f {
    margin: 0;
}

.s-s-f li {
    border-radius: 15px;
    display: inline-block;
    margin-right: 7.3px;
    width: 52px;
    height: 51px;
}

.s-s-f a div {
    width: 52px;
    height: 51px;
}

.s-s-f li {
    background: url("../img/s-sprite-2.png") no-repeat center;
    background-position: 0 0;
}

.s-s-f .fb {
    background-position: -54px 0;
}

.s-s-f .tw {
    background-position: -108px 0;
}

.s-s-f .li {
    background-position: -162px 0;
}

.s-s-f li:last-child {margin-right: 0;}

.footer-bottom {
    background: #000;
    color: #fff;
    font: 400 14px/14px Signika, sans-serif;
    text-align: center;
    padding: 50px 0 50px 0;
}